
<h2>Transact</h2>
<form [formGroup]="transactForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="fromAccNumber">From Account Number</label>
    <input type="text" formControlName="fromAccNumber" class="form-control" />
  </div>
  <div class="form-group">
    <label for="toAccNumber">To Account Number</label>
    <select class="form-control" id="toAccNumber" formControlName="toAccNumber">
      <option *ngFor="let payeeAccount of payeeAccounts" [value]="payeeAccount.id">{{payeeAccount.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="transAmount">Transfer Amount</label>
    <input type="text" formControlName="transAmount" class="form-control" />
  </div>  
  <div class="form-group">
    <button class="btn btn-primary">Tranfer</button>
  </div>
</form>

